html,
body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1200px;
    margin: 0 auto;
}
/*============*/
.top {
    flex-grow: 1;
}
.header {
    height: 100px;
    background-color: #e6e6e6;
}

.menu {
    display: flex;
    font-size: 18px;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-between;
}
.menu li {
    margin: 30px 30px 0 30px;
}
.menu div {
    display: flex;
}
.menu a {
    text-decoration: none
}
.menu a:visited {
    color: black;
}
.menu a:hover {
    color: greenyellow;
}

.main-button {
    font-size: 24px;
    font-weight: bold;
    color: black;
    padding: 5px;
}
.main-button:hover {
    color: greenyellow;
}
/*============*/
.content {
    display: flex;
    justify-content: space-between;
}
.border {
    border: 2px solid blue;
}

.drawing {
    width: 85%;
    padding: 8px;
    height: 550px;
}

.property {
    padding: 10px;
}
.property div {
    display: flex;
    justify-content: space-between;
}

.out-data {
    border: 1px solid #7d7d7d;
    width: 50px;
    height: 20px;
}

.input-data {
    margin: 30px 0 0 0;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-data input {
    width: 65px;
}

/*============*/
.footer {
    height: 100px;
    background-color: #e6e6e6;
}

.angle, .distance{
    display: inline-grid;
}

.figure {

}

#c1 {
    width: 1000px;
    height: 500px;
    border: 3px solid black;
    background-image: url(../img/setka.png);
}

/*=============*/
.draw-list {
    width: 60%;
    list-style-type: none;
}
.draw-list li {
    box-sizing: border-box;
    background-color: #cccccc;
    padding: 10px;
    height: 40px;
    margin: 5px;
}
.draw-list a {
    text-decoration: none
}
.draw-list a:visited {
    color: black;
}
.draw-list a:hover {
    color: #e6e6e6;
}