{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
    <li class="main-button">
        <a href="{% url 'main:draw_add' %}">Новый чертёж</a>
    </li>
{% endblock %}


{% block content %}
    <ul class="draw-list">
        {% for paint in blueprints %}
            <li>
                <div>
                    <a href="{% url 'main:draw' paint.pk %}">{{ paint.draw }}</a>
                    <a href="{% url 'main:draw_delete' paint.pk %}">Удалить</a>
                </div>
            </li>
        {%  endfor %}
    </ul>
{% endblock %}
